body {
  font-family: "Open Sans", sans-serif;
}

h5 {
font-family: "Lobster", cursive;
}

.card-img-overlay h5 {
color: white;
background-color: rgba(0, 0, 0, 0.5);
}

.site-footer{
  background-color: #003029;
  color: whitesmoke;
  margin-top: 4rem;
  height: 17rem;
  padding: 1rem;
}